# # DO NOT PUBLISH THESE

# # Native build folders
# android/
# ios/

# # Expo / caches
# .expo/
# .expo-shared/

# # Node
# node_modules/

# # Build outputs
# dist/
# build/
# out/
# tmp/

# # IDE files
# *.xcworkspace/
# *.xcuserstate
# *.swp
# .vscode/
# .idea/

# # Logs
# *.log

# # Metro, OS junk
# *.DS_Store
